@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

html {
  font-size: 13px;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 11px;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: #4267b2;
}

.color-blue {
  color: #4267b2;
}

.bg-blue {
  background-color: #4267b2;
}

.color-orange {
  color: #fbb96b;
}

.bg-orange {
  background-color: #fbb96b;
}

.color-pink {
  color: #fe7e73;
}

.bg-pink {
  background-color: #fe7e73;
}

.color-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.color-black {
  color: #000;
}

.bg-black {
  background-color: #000;
}

.color-main {
  color: #4267b2;
}

.bg-main {
  background-color: #4267b2;
}

.color-red {
  color: #ff0000;
}

.bg-red {
  background-color: #ff0000;
}

.grid-col-0 {
  grid-template-columns: repeat(0, 1fr);
}

.grid-col-1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-col-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid-col-7 {
  grid-template-columns: repeat(7, 1fr);
}

.grid-col-8 {
  grid-template-columns: repeat(8, 1fr);
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-0 {
    grid-template-columns: repeat(0, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-5 {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-7 {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-8 {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid-col-sm-0 {
    grid-template-columns: repeat(0, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid-col-sm-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid-col-sm-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid-col-sm-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid-col-sm-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid-col-sm-5 {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid-col-sm-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid-col-sm-7 {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid-col-sm-8 {
    grid-template-columns: repeat(8, 1fr);
  }
}

.container {
  width: 100%;
  max-width: 1620px;
  padding: 0 50px;
  margin: auto;
}

@media only screen and (max-width: 1024px) {
  .container {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0 10px;
  }
}

.main {
  margin-top: 96px;
  margin-bottom: 2rem;
  min-height: 100vh;
}

@media only screen and (max-width: 1024px) {
  .main {
    margin-top: calc(70px + 20px);
  }
}

@media only screen and (max-width: 600px) {
  .main {
    margin-top: calc(40px + 10px);
  }
}

.grid {
  display: grid;
}

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  height: 96px;
}

.header .container {
  height: 100%;
}

.header.shrink {
  height: 90px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 100;
}

@media only screen and (max-width: 600px) {
  .header.shrink {
    /*       height: $header-mobile-height; */
  }
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.header-logo img {
  height: 150px;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  height: 100%;
}

.header-menu-item~.header-menu-item {
  margin-left: 39px;
}

@media only screen and (max-width: 1024px) {
  .header-menu-item~.header-menu-item {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .header-menu-item~.header-menu-item {
    margin-left: 10px;
  }
}

.header-menu-item.active {
  font-weight: 600;
  color: #4267b2;
}

.header-menu-item:hover {
  color: #4267b2 !important;
}

.header-menu-left,
.header-menu-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header-menu-right {
  font-size: 2.25rem;
}

.header-menu-right-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .header-menu-right {
    font-size: 1.5rem;
  }
}

.header-menu-left-close {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .header-menu-left {
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
    padding-top: 30px;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
  }

  .header-menu-left.active {
    transform: translateX(0);
  }

  .header-menu-left-item~.header-menu-left-item {
    margin-left: unset;
    margin-top: 20px;
  }

  .header-menu-left-close {
    display: block;
    position: absolute;
    left: 20px;
    font-size: 2.5rem;
  }
}

.header-menu-mobile-toggle {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .header-menu-mobile-toggle {
    display: block;
    font-size: 2.5rem;
  }
}

.footer {
  padding: 70px 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 1.1rem;
}

.footer-logo {
  height: 190px;
}

.footer-about p {
  /*  margin-bottom: 2rem; */
}

.footer-title {
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-weight: 600;
}

.footer-content p {
  margin-bottom: 1.25rem;
}

.hero-slider {
  height: 100vh;
  max-height: 1080px;
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
  margin-top: calc(96px*+1);
}

@media only screen and (max-width: 1024px) {
  .hero-slider {
    margin-top: calc(70px*+1);
  }
}

@media only screen and (max-width: 600px) {
  .hero-slider {
    margin-top: calc(40px*+1);
  }
}

.hero-slider-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  inset: 0;
}

@media only screen and (max-width: 1024px) {
  .hero-slider-item {
    flex-direction: column-reverse;
    padding-top: 70px;
  }
}

@media only screen and (max-width: 600px) {
  .hero-slider-item {
    padding-top: unset;
    padding-bottom: 40px;
  }
}

.hero-slider-item.active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.hero-slider-item-info {
  width: 58.33%;
}

@media only screen and (max-width: 1024px) {
  .hero-slider-item-info {
    width: 100%;
    flex-grow: 1;
  }
}

.hero-slider-item-info-title,
.hero-slider-item-info-description {
  margin-bottom: 60px;
}

@media only screen and (max-width: 1024px) {

  .hero-slider-item-info-title,
  .hero-slider-item-info-description {
    margin-bottom: 15px;
  }
}

.hero-slider-item-info-title {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 6.75rem;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .hero-slider-item-info-title {
    font-size: 2.5rem;
    line-height: 3.75rem;
  }
}

.hero-slider-item-info-description {
  color: #8d8d8d;
  font-size: 1.5rem;
  line-height: 2.25rem;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .hero-slider-item-info-description {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.hero-slider-item-info-btn {
  overflow: hidden;
}

.hero-slider-item-info-title>span,
.hero-slider-item-info-description>span,
.hero-slider-item-info-btn button {
  display: block;
  transform: translateY(-100%);
  transition: transform 0.5s ease;
}

.hero-slider-item.active .hero-slider-item-info-title>span,
.hero-slider-item.active .hero-slider-item-info-description>span,
.hero-slider-item.active .hero-slider-item-info-btn button {
  transform: translateY(0);
}

.hero-slider-item-image {
  flex-grow: 1;
  position: relative;
  height: 100%;
  z-index: 99;
  pointer-events: none;
}

@media only screen and (max-width: 1024px) {
  .hero-slider-item-image {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: unset;
    z-index: 98;
  }
}

.hero-slider-item-image img {
  height: 100vh;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: scale(0) rotate(65deg);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media only screen and (max-width: 1024px) {
  .hero-slider-item-image img {
    height: 100%;
    position: relative;
  }
}

.hero-slider-item-image .shape {
  height: 472px;
  width: 472px;
  position: absolute;
  right: 0;
  top: 50%;
  border-radius: 23% 68% 49% 50% / 26% 65% 22% 56%;
  transform: translate(0, -50%);
  transition: border-radius 13s ease;
  animation: border 10s infinite;
}

@media only screen and (max-width: 1024px) {
  .hero-slider-item-image .shape {
    height: 250px;
    width: 250px;
    right: 50%;
    transform: translate(50%, -50%);
  }
}

.hero-slider-item.active .hero-slider-item-image>img {
  transform: scale(1) rotate(0);
}

.hero-slider-control {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.hero-slider-control-item~.hero-slider-controlitem {
  margin-left: 10px;
}

.hero-slider-control-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
}

.hero-slider-control-item:hover {
  color: #4267b2;
}

.hero-slider-control-item .index {
  font-size: 1.5rem;
}

@keyframes border {
  0% {
    border-radius: 23% 68% 49% 50% / 26% 65% 22% 56%;
  }

  50% {
    border-radius: 23% 0% 49% 0% / 26% 65% 22% 56%;
  }

  100% {
    border-radius: 23% 68% 49% 50% / 26% 65% 22% 56%;
  }
}

.btn {
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .btn {
    font-size: 1rem;
  }
}

.btn-txt,
.btn-icon {
  display: block;
  transition: transform .5s ease;
}

.btn-txt {
  padding: 1rem 2rem;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
}

.btn-animate:hover .btn-txt {
  transform: translateX(100%);
}

.btn-animate:hover .btn-icon {
  transform: translateX(0);
}

.btn-sm {
  font-size: 1rem;
}

.btn-sm .btn-txt {
  padding: 0.7rem 1.5rem;
}

.btn-block {
  width: 100%;
}

.section {
  margin-bottom: 80px;
}

.section>*~* {
  margin-top: 70px;
}

.section-title {
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
}

.policy-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  padding-left: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: transform 0.5s ease;
}

.policy-card:hover {
  transform: translateY(-20px);
}

.policy-card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  color: #4267b2;
}

.policy-card-icon i {
  font-size: 3rem;
}

.policy-card-info-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.policy-card-info-description {
  font-size: 1rem;
  color: #8d8d8d;
}

.product-card {
  text-align: center;
  margin-bottom: 30px;
}

.product-card-image {
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.product-card-image img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

.product-card-image img:nth-child(1) {
  transform: translateX(-50%) scale(1);
  transition: transform .5s ease;
}

.product-card-image img:nth-child(2) {
  transform: translateX(-50%) scale(0);
}

.product-card-image:hover img:nth-child(1) {
  transform: translateX(-50%) scale(0);
}

.product-card-image:hover img:nth-child(2) {
  transform: translateX(-50%) scale(1);
  transition: transform .5s ease;
}

.product-card-name {
  margin-bottom: 10px;
  color: #8d8d8d;
  font-size: 1.25rem;
  font-weight: normal;
}

.product-card-price {
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.product-card-price-old {
  color: #8d8d8d;
  margin-left: 20px;
  font-weight: 300;
}

@media only screen and (max-width: 1024px) {
  .product-card-btn {
    display: none;
  }
}

.catalog {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

@media only screen and (max-width: 1024px) {
  .catalog {
    flex-direction: column;
  }
}

.catalog-filter {
  width: 20%;
}

@media only screen and (max-width: 1024px) {
  .catalog-filter {
    width: max-content;
    height: 100vh;
    background-color: #fff;
    padding: 1rem;
    position: fixed;
    left: 0;
    top: 70px;
    z-index: 100;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: translateX(-100%);
    transition: transform .3s ease;
  }
}

@media only screen and (max-width: 600px) {
  .catalog-filter {
    top: 40px;
  }
}

.catalog-filter.active {
  transform: translateX(0);
}

.catalog-filter-widget {
  margin-bottom: 2rem;
}

.catalog-filter-widget-title {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.catalog-filter-widget-content {
  color: #8d8d8d;
}

.catalog-filter-widget-content-item {
  margin-bottom: 13px;
}

.catalog-filter-close {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .catalog-filter-close {
    display: block;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.catalog-content {
  flex-grow: 1;
}

@media only screen and (max-width: 1024px) {
  .catalog-content {
    width: 100%;
  }
}

.catalog-filter-toggle {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .catalog-filter-toggle {
    display: block;
    margin-bottom: 2rem;
  }
}

.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.custom-checkbox:hover {
  color: #4267b2;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox-checkmark {
  margin-right: 10px;
  height: 15px;
  width: 15px;
  border: 1px solid #8d8d8d;
}

.custom-checkbox-checkmark i {
  transform: scale(0);
  transition: transform .3s ease;
}

input:checked~.custom-checkbox-checkmark {
  background-color: #4267b2;
  border: 1px solid #4267b2;
  color: #fff;
}

input:checked~.custom-checkbox-checkmark>i {
  transform: scale(1);
}

.product {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

@media only screen and (max-width: 600px) {
  .product {
    flex-direction: column;
  }
}

.product-images {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 60%;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1024px) {
  .product-images {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .product-images {
    width: 100%;
  }
}

.product-images-list {
  width: 20%;
}

.product-images-list-item {
  cursor: pointer;
}

.product-images-main {
  flex-grow: 1;
  padding-top: 100%;
  position: relative;
}

.product-images-main img {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
}

.product-info {
  flex-grow: 1;
  position: sticky;
  top: 90px;
  padding-top: 2rem;
}

@media only screen and (max-width: 600px) {
  .product-info {
    position: relative;
    top: unset;
  }
}

.product-info-title {
  font-size: 2.5rem;
  font-weight: normal;
}

.product-info-item {
  margin-top: 2rem;
}

.product-info-item-price {
  color: #4267b2;
  font-size: 2rem;
  font-weight: 600;
}

.product-info-item-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.product-info-item-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.product-info-item-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #8d8d8d;
  cursor: pointer;
  margin-right: 1rem;
}

@media only screen and (max-width: 600px) {
  .product-info-item-list-item {
    width: 40px;
    height: 40px;
  }
}

.product-info-item-list-item.active {
  border-color: #4267b2;
}

.product-info-item-list-item:hover {
  border-color: #4267b2;
}

.product-info-item-list-item .circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .product-info-item-list-item .circle {
    width: 30px;
    height: 30px;
  }
}

.product-info-item-list-item-size {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.product-info-item-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.product-info-item-quantity-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 2px solid #8d8d8d;
  font-size: 1.5rem;
  cursor: pointer;
}

.product-info-item-quantity-input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 90px;
  font-size: 1.5rem;
  border-top: 2px solid #8d8d8d;
  border-bottom: 2px solid #8d8d8d;
}

.product-info-item button {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.product-description {
  width: 100%;
  padding: 2rem 2rem 3rem;
  height: 400px;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .product-description {
    display: none;
  }
}

.product-description.mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .product-description.mobile {
    display: block;
  }
}

.product-description.expand {
  height: max-content;
}

.product-description-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 2rem 0;
}

.product-description-content {
  font-size: 1.25rem;
  line-height: 1.875rem;
  text-align: justify;
}

.product-description-toggle {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.product-view-modal {
  position: fixed;
  z-index: 101;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rbg(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
}

.product-view-modal.active {
  opacity: 1;
  visibility: visible;
}

.product-view-modal-content {
  margin: auto;
  padding: 2rem;
  background-color: #fff;
  width: 50%;
  position: relative;
  opacity: 0;
  transform: translateY(-250px);
  transition: transform .3s ease;
}

.product-view-modal-content-close {
  position: absolute;
  right: 0;
  top: 0;
}

.product-view-modal.active .product-view-modal-content {
  opacity: 1;
  transform: translateY(0);
}

.cart {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

@media only screen and (max-width: 600px) {
  .cart {
    flex-wrap: wrap;
  }
}

.cart-info {
  width: 40%;
  margin-right: 30px;
  margin-top: 30px;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: sticky;
  top: calc(90px+1 20px);
}

.cart-info-txt>* {
  margin-bottom: 10px;
}

.cart-info-txt p {
  font-size: 1.25rem;
}

.cart-info-txt-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 1.25rem;
}

.cart-info-txt-price span:nth-child(2) {
  font-size: 2rem;
  color: #4267b2;
  font-weight: 600;
}