.catalog {
    @include flex(flex-start, flex-start);

    &-filter {
        width: 20%;

        @include tablet {
            width: unset;
        }

        &-widget {
            margin-bottom: 2rem;

            &-title {
                font-size: 1.25rem;
                font-weight: 600;
                text-transform: capitalize;
                margin-bottom: 16px;
            }

            &-content {
                color: $txt-second-color;

                &-item {
                    margin-bottom: 13px;
                }
            }
        }
    }

    &-content {
        flex-grow: 1;

        @include tablet {
            width: 100%;
        }
    }
}